* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Times new roman', 'Times new roman', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
  height: 80px;
  background: #f8efef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20rem; 
}

.logo-container {
  padding-left: 1px; 
  padding-right: 100px;
}

.logo {
  width: 50px; 
  height: 50px; 
}

.nav-items {
  padding-right: 3rem;
  position: left;
}

.nav-items a {
  text-decoration: overline;
  color: #000;
  font-size: 1.1rem;
  padding: 0 1.5rem;
}

.nav-items a:hover {
  color: #fff;
}

.hero {
  background: #f8c8c8;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 95vh;
  padding: 1rem 230px; 
}

.column-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #8a0707;
}

.column-left h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
}

.column-left p {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
}

button {
  padding: 1rem 3rem;
  font-size: 1rem;
  border: none;
  color: #faf9f5;
  background: #ff0000c5;
  cursor: pointer;
  border-radius: 50px;
}

button:hover {
  background: #fff;
  color: #000;
}

.column-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image {
  width: 90%;
  height: 60%;
  left: 1;
  top: 1px; 
}

@media screen and (max-width: 768px) {
  .hero-container {
    grid-template-columns: 1fr;
  }
}
